<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobilesoftware.swproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scheduleView" />
        <activity android:name=".scheduleAdd" />
        <activity android:name=".scheduleAddProcess" />
        <activity android:name=".scheduleDeleteProcess" />
        <activity android:name=".noteView" />
        <activity android:name=".noteAdd" />
        <activity android:name=".noteAddProcess" />
        <activity android:name=".noteDeleteProcess" />
        <activity android:name=".phoneBookView" />
        <activity android:name=".phoneBookAdd" />
        <activity android:name=".phoneBookAddProcess" />
        <activity android:name=".phoneBookDeleteProcess" />
    </application>

</manifest>